* {
    box-sizing: border-box;
    text-align: center;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    overflow-x: hidden;
}

/* =========HEADER========== */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: #4D98A4;
    z-index: 10;
}

.logo {
    font-family: 'Cherry Swash', cursive;
    font-size: 2.5em;
    color: #FFFFFF;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    list-style: none;
}

.nav__link {
    position: relative;
    margin-left: 4vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    color: #DCE3E4;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--after::after {
    content: "/";
    position: absolute;
    right: -2vw;
}

.header__nav--burger {
    position: relative;
    width: 3em;
    height: 2.5em;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.header__nav__burger--lines {
    position: absolute;
    top: 1em;
    left: .4em;
    display: flex;
    justify-content: center;
    position: relative;
    width: 2em;
    height: .2em;
    background: #69728C;
}

.header__nav__burger--lines::after {
    content: "";
    position: absolute;
    top: -.5em;
    right: 0em;
    width: 2em;
    height: .2em;
    background: #69728C;
}

.header__nav__burger--lines::before {
    content: "";
    position: absolute;
    top: +.5em;
    right: 0em;
    width: 2em;
    height: .2em;
    background: #69728C;
}

/* ==============BANNER SECTION=============== */

/* ..........Banner_PIC............. */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner__view {
    width: 100%;
    background: url(../images/first_screen_background.png) no-repeat center center;    
}

.banner h1 {
    margin: 4em 0 1.5em 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.75em;
    color: #E4E4E4;
    text-transform: uppercase;
}

.banner button {
    padding: 0.5em 1.5em;
    background: transparent;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    color: #E4E4E4;
    border-bottom: solid;
    border-color: #AFB1B4;
    border-radius: 5px;
    cursor: pointer;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__item--light {
    width: 9px;
    height: 9px;
    margin: 7.5625em 0.375em 1.875em;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.carousel__item--dark {
    width: 9px;
    height: 9px;
    margin: 7.5625em 0.375em 1.875em;
    background-color: #69728C;
    border-radius: 50%;
}

/* ..............Banner_TEXT................. */

.banner__text {
    max-width: 80%;
    padding: 5% 0;
}

.banner__text h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.875em;
    font-weight: 300;
    color: #4C505D;
}

.banner__text h2 span {
    font-weight: 400;
}

.banner__text p {
    margin: 0 auto;
    padding: 1% 0 7%;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.875em;
    font-weight: 400;
}

.banner__text--icons {
    display: flex;
    justify-content: space-around;
}


/* ==============TESTIMONIAL SECTION=============== */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00D089;
}

.testimonial__pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__pic--img {
    width: 8.4375em;
    height: 8.4375em;
    margin: 6em 2.375em 3.875em;
    background: url(../images/testimonial_portrait.png) no-repeat center top;
    border-radius: 50%;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6em 0 0 0;
    text-align: left;
}

.quotes p {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.625em;
    font-weight: 700;
    text-transform: uppercase;
    color: #E4E4E4;
}

.quotes_img {
    margin: 0;
    padding: 0;
}

.quotes_img span {
    font-family: 'Work Sans', sans-serif;
    font-size: 9.5em;
    font-weight: 700;
    color: #FFFFFF;
    opacity: .2;
}

.testimonial__description {
    max-width: 90%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    color: #FFFFFF;
}


/* ==============CONTACT SECTION=============== */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: url(../images/map_background.png) no-repeat center center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2.5em;
    width: 26.875em;
    height: 26.875em;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    backface-visibility: hidden;
}

.contact__form {
    width: 17.25em;
    display: flex;
    flex-direction: column;
  }

.contact__input {
    padding: 0.66em 0 0.62em 1.12em;
    font-size: 0.875em;
    color: #4C505D;
    text-align: left;
    text-transform: capitalize;
    resize: vertical;
    z-index: +10;
  }

.contact__input--email {
    margin: 1.07em 0;
    text-transform: lowercase;
  }

.form img {
    position: absolute;
    bottom: 10%;
    cursor: pointer;
}

.footer {
    min-width: 100%;
    background-color: #00D089;
    text-align: center;
}

.footer h4 {
    margin: 0;
    padding: 0.625em 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.875em;
    color: #FFFFFF;
    text-transform: uppercase;
}


/* ===============MEDIA REQUERIES============= */

@media (max-width: 800px) {
    .nav {
        display: none;
    }
}

@media (min-width: 800px) {
    .header__nav--burger {
        display: none;
    }
}